# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/

# Only root model folder
/models/

*.safetensors
*.bin
*.pt
*.pth

# MacOS
.DS_Store

# Streamlit cache
.streamlit/