# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/

# Models
models/
*.safetensors
*.bin
*.pt
*.pth

# Large model files
*.safetensors
*.bin
*.pt
*.pth

# MacOS
.DS_Store

# Streamlit cache
.streamlit/

